# emacs detritus
*~
*#

# ignore output of md 
README.html

# Not sure why ethis showed up
Thumbs.db

# ignore output of xml2rfc conversion
# go ahead and upload
# pdfrfc.txt
# pdfrfc.html
# pdfrfc.pdf 


